# Restaurant Recommender System Based On GPS

Sistem rekomendasi ini merupakan sistem rekomendasi restoran yang menggunakan alogritma K-Nearest Neighbour. Dalam alogirtma yang ada matrix yang digunakan adalah dengan menggunakan Location yang berupa Latitude dan Longitude serta jenis dari restoran. K-Neighbour yang digunakan adalah 5, untuk mengambil 5 index teratas yang mirip.

# Instalasi
Sebelum menginstall, dimohon untuk menjalankan command pada command prompt

`pip install numpy`

`pip install pandas`

`pip install fuzzywuzzy`

`pip install sklearn`

## Code

pertama-tama dilakukan import numpy,pandas,sklearn.neighbor, dan fuzzywuzzy. numpy dan pandas digunakan untuk pemorsesan data, sklearn.neigbors merupakan model dari KNN yang akan digunakan dan fuzzywuzzy digunakan untuk string matching yang akan digunakan dalam pencarian data.

In [1]:
import numpy as np
import pandas as pd
from fuzzywuzzy import process
from sklearn.neighbors import NearestNeighbors

C:\Users\Andodo\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
restaurant_id = pd.read_csv("datasets/geoplaces2.csv",usecols=["placeID",'longitude','latitude'],dtype={"placeID":"int32","longitude":"float32","latitude":"float32"}).sort_values(by="placeID").reset_index(drop=True)
restaurant_id

     placeID   latitude   longitude
0     132560  23.752304  -99.166916
1     132561  23.726818  -99.126503
2     132564  23.730925  -99.145187
3     132572  22.141647 -100.992714
4     132583  18.922291  -99.234329
..       ...        ...         ...
125   135088  18.876011  -99.219887
126   135104  23.752981  -99.168434
127   135106  22.149710 -100.976089
128   135108  22.136253 -100.933586
129   135109  18.921785  -99.235352

[130 rows x 3 columns]

In [4]:
restaurant_record = pd.read_csv("datasets/chefmozcuisine.csv",usecols=["placeID","Rcuisine"],dtype={"placeID":"int32","Rcuisine":"str"}).sort_values(by="placeID")
restaurant_record = restaurant_record[restaurant_record.placeID.isin(restaurant_id.placeID)].reset_index(drop=True)
restaurant_record = restaurant_record.merge(restaurant_id,on="placeID")
restaurant_record

     placeID   Rcuisine   latitude   longitude
0     132560   Regional  23.752304  -99.166916
1     132572  Cafeteria  22.141647 -100.992714
2     132583  Fast_Food  18.922291  -99.234329
3     132584    Mexican  23.752365  -99.165291
4     132594    Mexican  23.752167  -99.165710
..       ...        ...        ...         ...
106   135086    Burgers  22.141420 -101.013954
107   135088  Cafeteria  18.876011  -99.219887
108   135104    Mexican  23.752981  -99.168434
109   135106    Mexican  22.149710 -100.976089
110   135109    Italian  18.921785  -99.235352

[111 rows x 4 columns]

In [5]:
restaurant_features = pd.concat([restaurant_record["Rcuisine"].str.get_dummies(sep=",")]).set_index(restaurant_record["placeID"])

restaurant_features_all = restaurant_features.reset_index()
restaurant_features_all

,placeID,American,Armenian,Bakery,Bar,Bar_Pub_Brewery,Breakfast-Brunch,Burgers,Cafe-Coffee_Shop,Cafeteria,...,Fast_Food,International,Italian,Japanese,Mediterranean,Mexican,Pizzeria,Regional,Seafood,Vietnamese
0,132560,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,132572,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,132583,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,132584,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,132594,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,135086,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
107,135088,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
108,135104,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
109,135106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
110,135109,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
restaurant_features = pd.concat([restaurant_record["Rcuisine"].str.get_dummies(sep=",")]).set_index(restaurant_record["placeID"])

restaurant_features_all = restaurant_features.reset_index()
restaurant_features_all

,placeID,American,Armenian,Bakery,Bar,Bar_Pub_Brewery,Breakfast-Brunch,Burgers,Cafe-Coffee_Shop,Cafeteria,...,Fast_Food,International,Italian,Japanese,Mediterranean,Mexican,Pizzeria,Regional,Seafood,Vietnamese
0,132560,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,132572,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,132583,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,132584,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,132594,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,135086,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
107,135088,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
108,135104,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
109,135106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
110,135109,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [7]:
restaurant_feature_gps = restaurant_features_all.merge(restaurant_id,on="placeID")
restaurant_feature_gps

,placeID,American,Armenian,Bakery,Bar,Bar_Pub_Brewery,Breakfast-Brunch,Burgers,Cafe-Coffee_Shop,Cafeteria,...,Italian,Japanese,Mediterranean,Mexican,Pizzeria,Regional,Seafood,Vietnamese,latitude,longitude
0,132560,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,23.752304,-99.166916
1,132572,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,22.141647,-100.992714
2,132583,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,18.922291,-99.234329
3,132584,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,23.752365,-99.165291
4,132594,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,23.752167,-99.165710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,135086,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,22.141420,-101.013954
107,135088,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,18.876011,-99.219887
108,135104,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,23.752981,-99.168434
109,135106,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,22.149710,-100.976089
110,135109,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,18.921785,-99.235352

In [8]:
restaurant_full_record = pd.read_csv("datasets/geoplaces2.csv",usecols=["placeID","name","address"],dtype={"placeID":"int32","name":"str","address":"str","price":"str"},encoding='utf_8').sort_values(by="placeID").reset_index(drop=True)
restaurant_full_record = restaurant_full_record.merge(restaurant_record,on="placeID")
restaurant_full_record

,placeID,name,address,Rcuisine,latitude,longitude
0,132560,puesto de gorditas,frente al tecnologico,Regional,23.752304,-99.166916
1,132572,Cafe Chaires,?,Cafeteria,22.141647,-100.992714
2,132583,McDonalds Centro,Rayon sn col. Centro,Fast_Food,18.922291,-99.234329
3,132584,Gorditas Dona Tota,?,Mexican,23.752365,-99.165291
4,132594,tacos de barbacoa enfrente del Tec,?,Mexican,23.752167,-99.165710
...,...,...,...,...,...,...
106,135086,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,Burgers,22.141420,-101.013954
107,135088,Cafeteria cenidet,Interior Internado Palmira SN,Cafeteria,18.876011,-99.219887
108,135104,vips,?,Mexican,23.752981,-99.168434
109,135106,El Rincon de San Francisco,Universidad 169,Mexican,22.149710,-100.976089
110,135109,Paniroles,?,Italian,18.921785,-99.235352

In [9]:
restaurant_rating_record = pd.read_csv("datasets/rating_final.csv",usecols=["placeID","rating","userID"],dtype={"placeID":"int32","rating":"int32","userID":"str"})
restaurant_rating_record = restaurant_rating_record[restaurant_rating_record.placeID.isin(restaurant_id.placeID)]
restaurant_rating_df = restaurant_rating_record.groupby(by=["placeID"]).mean().reset_index()
restaurant_rating_df = restaurant_rating_df[restaurant_rating_df.placeID.isin(restaurant_record.placeID)]
restaurant_rating_df

     placeID    rating
0     132560  0.500000
3     132572  1.000000
4     132583  1.000000
5     132584  1.333333
6     132594  0.600000
..       ...       ...
124   135086  0.800000
125   135088  1.000000
126   135104  0.857143
127   135106  1.200000
129   135109  1.000000

[95 rows x 2 columns]

In [10]:
restaurant_df_gps = restaurant_rating_df.merge(restaurant_id,on="placeID")
restaurant_df_gps

    placeID    rating   latitude   longitude
0    132560  0.500000  23.752304  -99.166916
1    132572  1.000000  22.141647 -100.992714
2    132583  1.000000  18.922291  -99.234329
3    132584  1.333333  23.752365  -99.165291
4    132594  0.600000  23.752167  -99.165710
..      ...       ...        ...         ...
90   135086  0.800000  22.141420 -101.013954
91   135088  1.000000  18.876011  -99.219887
92   135104  0.857143  23.752981  -99.168434
93   135106  1.200000  22.149710 -100.976089
94   135109  1.000000  18.921785  -99.235352

[95 rows x 4 columns]

In [11]:
restaurant_full_record = restaurant_full_record.merge(restaurant_rating_df,on="placeID")
restaurant_full_record

,placeID,name,address,Rcuisine,latitude,longitude,rating
0,132560,puesto de gorditas,frente al tecnologico,Regional,23.752304,-99.166916,0.500000
1,132572,Cafe Chaires,?,Cafeteria,22.141647,-100.992714,1.000000
2,132583,McDonalds Centro,Rayon sn col. Centro,Fast_Food,18.922291,-99.234329,1.000000
3,132584,Gorditas Dona Tota,?,Mexican,23.752365,-99.165291,1.333333
4,132594,tacos de barbacoa enfrente del Tec,?,Mexican,23.752167,-99.165710,0.600000
...,...,...,...,...,...,...,...
106,135086,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,Burgers,22.141420,-101.013954,0.800000
107,135088,Cafeteria cenidet,Interior Internado Palmira SN,Cafeteria,18.876011,-99.219887,1.000000
108,135104,vips,?,Mexican,23.752981,-99.168434,0.857143
109,135106,El Rincon de San Francisco,Universidad 169,Mexican,22.149710,-100.976089,1.200000
110,135109,Paniroles,?,Italian,18.921785,-99.235352,1.000000

In [12]:
restaurant_df = restaurant_features.merge(restaurant_df_gps,on="placeID").sort_values(by="placeID").reset_index(drop=True)
restaurant_df = restaurant_df.drop(['placeID','rating'], axis=1)
restaurant_df

,American,Armenian,Bakery,Bar,Bar_Pub_Brewery,Breakfast-Brunch,Burgers,Cafe-Coffee_Shop,Cafeteria,Chinese,...,Italian,Japanese,Mediterranean,Mexican,Pizzeria,Regional,Seafood,Vietnamese,latitude,longitude
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,23.752304,-99.166916
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,22.141647,-100.992714
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,18.922291,-99.234329
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,23.752365,-99.165291
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,23.752167,-99.165710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,22.141420,-101.013954
107,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,18.876011,-99.219887
108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,23.752981,-99.168434
109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,22.149710,-100.976089
110,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,18.921785,-99.235352

In [13]:
model_cnn =  NearestNeighbors(algorithm='auto', n_neighbors=5)
model_cnn.fit(restaurant_df)
distances, indices = model_cnn.kneighbors(restaurant_df,n_neighbors = 5)

In [14]:
def get_index_from_name(name):
    return restaurant_full_record[restaurant_full_record["name"]==name].index.tolist()[0]

In [15]:
def name_search(name):
    return process.extractOne(name,restaurant_full_record['name'])[0]

In [32]:
def main_function(name):
    name_index = name_search(name)
    found_id = get_index_from_name(name_index)
    index_arr = []
    for id in indices[found_id]:
        index_arr.append(id)
    return index_arr

In [37]:
index_arr = main_function("dominos")

In [38]:
restaurant_final = restaurant_full_record.loc[index_arr]
restaurant_final

,placeID,name,address,Rcuisine,latitude,longitude,rating
40,132869,Dominos Pizza,Ricardo B. Anaya,Pizzeria,22.141239,-100.923927,1.166667
78,135043,pizza clasica,524 Soledad de Graciano Sanchez,Pizzeria,22.185757,-100.944519,0.888889
92,135058,Restaurante Tiberius,Munoz Sn Centro,Pizzeria,22.165586,-101.001274,1.111111
86,135053,La Fontana Pizza Restaurante and Cafe,Satelite 606 Satelite,Pizzeria,22.178930,-101.012863,1.125000
38,132866,Chaires,Ricardo B. Anaya,Cafeteria,22.141220,-100.931313,1.400000